	<div class="container">
		<div class="well  well-sm">
			  <button type="button" class="btn btn-primary"><a href="{:U('Message/index')}" >每日寄语</a></button>
        <button type="button" class="btn btn-primary"><a href="{:U('Logion/index')}">名言管理</a></button>
        <button type="button" class="btn btn-primary"><a href="{:U('Story/index')}" >励志故事</a></button>
        <button type="button" class="btn btn-primary"><a href="{:U('Toptips/index')}">状元心得</a></button>
        <button type="button" class="btn btn-primary"><a href="{:U('School/index')}" >校花校草</a></button>
        <button type="button" class="btn btn-primary"><a href="{:U('Relaxtime/index')}">轻松一刻</a></button>
        <button type="button" class="btn btn-primary"><a href="{:U('Info/feedback')}">反馈信息</a></button>
        <button type="button" class="btn btn-primary"><a href="{:U('Info/index')}">产品信息</a></button>
        <button type="button" class="btn btn-primary"><a href="{:U('Info/helpshow')}">帮助信息</a></button>
			
			
		</div>
         
       	<table class="table table-bordered">
       	      <thead>
       	        <tr>
       	          <th>id</th>
       	          <th>uid</th>
       	          <th>反馈内容</th>
       	         
       	         <th>反馈时间</th>
       	        </tr>
       	      </thead>
       	      <tbody>
       	      	<volist id="info" name="info">

       	      		<tr>
       	      		  <th >{$info.id}</th>
       	      		  <td>{$info.uid}</td>
       	      		
       	      		   <td>{$info.content}</td>

       	      		  <td>{$info.createtime|date="y-m-d",###}</td>
       	      		 
       	      		</tr>
       	      		
       	      	</volist>
       	       
       	        
       	      </tbody>
           </table>
           <div class="page">
           	{$page}
           </div>

   </div>
