body {
  margin: 0px;
  padding: 0px;
  font-size: 12px; }

.content {
  width: 1000px;
  height: auto;
  margin: 0 auto;
  padding: 0px; }

ul, li {
  list-style: none;
  margin: 0px; }

.nav {
  position: relative; }
  .nav ul li {
    float: left; }
  .nav ul li a {
    display: block;
    width: 120px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    color: rgba(0, 0, 0, 0.8); }

.clear {
  clear: both;
  
   }